header{
  font-family: Avenir Next;
  text-align: center;
  background-image: url(apple_background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
}
h1 {
  font-size: 60px;
  font-weight: normal;
}
h2 {
  font-weight: lighter;
}
body {
  font-family: Avenir Next;
  text-align: center;
  font-weight: normal;
}
a {
  color: black;
  background-color: rgba(224,219,219,1);
  background-size: cover;
  background-repeat: repeat;
  padding: 0px 30px;
  max-width: auto;
}
