@import url('https://fonts.googleapis.com/css?family=Montserrat');
header{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: rgba(89, 89, 89,1);
  padding: 0px 100px;
}
h1 {
  font-size: 30px;
  font-weight: normal;
  background: rgba(242, 242, 242, 0.5)
}
h2 {
  font-weight:300;
  background: rgba(242, 242, 242, 0.5)
}
h3{
  background: rgba(242, 242, 242, 0.5);
}
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  text-align: center;
  font-weight: 300;
  background-image: url(apple_background.jpg);
  background-size:  cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: repeat;
  padding: 0px 30px;
  max-width: auto;
  }
  head {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: rgba(89, 89, 89,1);
    padding: 0px 100px;
    background: rgba(242, 242, 242, 0.5);
  }
div {
  text-align: center;
  font-weight: 300;
  font-size: 20px;
  background: rgba(242, 242, 242, 0.5);
}
a {
  color: rgba(89, 89, 89,1);
  background: rgba(242, 242, 242, 0.5);
  font-size: 20px;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
